@font-face{
    font-family: "Roboto";
    src:url("../fonts/roboto.woff") format('woff'),
        url("/fonts/roboto.woff2") format('woff2');
    font-weight: 400;
}

@font-face{
    font-family: "Roboto";
    src:url("../fonts/robotomedium.woff") format('woff'),
        url("../fonts/robotomedium.woff2") format('woff2');
        font-weight: 600;
}
@font-face{
    font-family: "Roboto";
    src:url("../fonts/robotobold.woff") format('woff'),
        url("../fonts/robotobold.woff2") format('woff2');
        font-weight: 700;
}
/*-----------------Общие стили------------------- */

.visually-hidden{
    display: none;
}

ul{
    padding: 0px;
}

:root{
    --grey-text: #283136;
    --red:#fb565a;
    --green: #00cc66;
    --yellow: #ffcc33;
    --hover-red: #e74246;
    --hover-green: #00bc6c;
    --hover-yellow: #eab534;
    --active-red: #d7373b;
    --active-green: #00aa62;
    --active-yellow: #e5a722;
    --shadow-red: #c13135;
    --shadow-green: #009966;
    --shadow-yellow: #ce961f;
}

/*Состояния кнопок-ссылок*/
.button-red{
    background: var(--red);
}

.button-green{
    background: var(--green);
}

.button-yellow{
    background: var(--yellow);
}

.button-red:hover{
    background: var(--hover-red);
}

.button-red:active{
    color: rgba(255,255,255,0.2);

    background: var(--active-red);
    box-shadow: inset 0px 3px var(--shadow-red);
}

.button-green:hover{
    background: var(--hover-green);
}

.button-green:active{
    color: rgba(255,255,255,0.2);

    background: var(--active-green);
    box-shadow: inset 0px 3px var(--shadow-green);
}

.button-yellow:hover{
    background: var(--hover-yellow);
}

.button-yellow:active{
    color: rgba(255,255,255,0.2);

    background: var(--active-yellow);
    box-shadow: inset 0px 3px var(--shadow-yellow);
}

.button{
    display: inline-block;

    border: none;
    border-radius: 4px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    width: 160px;
    height: 50px;

    cursor: pointer;
}

hr{
    background: #eeeeee;
    opacity: 0.2;
}

body{
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto','TimesNewRoman',sans-serif;
    background: #fff;
}

td{
    padding: 5px 20px;
}

/*----------------- Навигация ------------------- */
.wrapper{ /*Центровщик*/
    width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.main-header{
    background-color:#e2e2e2;
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-navigation > ul{
    list-style: none;
}

.navigation-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    width: 560px;
}

.main-logo > img:hover{
    opacity: 0.7;
}

.main-logo > img:active{
    opacity: 0.3;
}

.navigation-main-logo{
    justify-content: left;
}

.navigation-item > a{
    font-size: 16px;
    line-height:30px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-item > a:hover{
    color: #fb565a;
}

.navigation-item > a:active{
    color: #000;
    opacity: 0.2;
}

.navigation-item-selected > a{
    border-bottom: 2px solid red;
    padding-bottom: 10px;
}

.navigation-backet{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: right;
    width: 180px;

    background-image: url("../img/svg/cart-icon.svg");
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-position-x: 65px;
}

.navigation-backet-item{
    display: inline-flex;
}

/*-----------------Слайдер------------------- */

.slider-advantages{
    overflow: hidden;
    height: 415px;
    position: relative;
}   

.slider{
    position: absolute;
    display: flex; 
    height: 100%;
    width: 3480px;
    margin: 0;
    transition: all 1s ease 0s;

    list-style: none;
}

.slider-item{
    display: block;
    flex-shrink: 0;

    width: 1200px;
    height: 415px;
    transition: all 1s ease 0s;
}

.slide-1{
    background-image: url("../img/index_products/slide1.png"); 
    background-repeat: no-repeat;
    background-position-x: right;   
}

.slide-2{
    background-image: url("../img/index_products/slide2.png"); 
    background-repeat: no-repeat;
    background-position-x: right;
}

.slide-3{
    background-image: url("../img/index_products/slide3.png"); 
    background-repeat: no-repeat;
    background-position-x: right;
}

.slider-advantage-title{
    font-size: 55px;
    line-height:60px;
    font-weight: 600;

    color: #000;

    text-decoration: none;
}

.slider-item > p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--grey-text);
}


.control-panel{
    position: absolute;
    display: flex;

    bottom: 90px;
    left: 45%;     
}

.slide-button{
    width: 18px;
    height: 18px;

    position: relative;
    z-index: 2;

    display: inline-flex;

    margin-left: 17px;

    background-color: #fff;
    /* border: 2px solid #fb565a; */
    border-radius: 50%;

    cursor: pointer;
}

.select::before{
    content: '';

    position: absolute;
    left: 5px;
    top: 5px;

    width: 4px;
    height: 4px;
    border: 2px solid #ccc;
    border-radius: 20px; 
    background-color: #fff;
}

.advantage-button{
    width: 240px;
    height: 50px;
}

/*-----------------------Продукция--------------*/

.product-list{
    margin-top: 80px;
    margin-bottom: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;

    list-style: none;
}

.product-item > h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.product-item > p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--grey-text);
}

/*-----------------О нас------------------- */
.about-us{
    padding-top: 10px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.summary{
    padding-right: 20px;

    width: 660px;
}

.summary > h3{
    font-size:40px;
    line-height: 45px;
    font-weight: 600;
}

.summary > p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.order-type-list{
    list-style: none;
}

.order-type-list > h2{

    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color:#000;
}

.order-type-item{
    position: relative;
    margin-left: 37px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--grey-text);
}

.order-type-item::before{
    content: "";
    
    position: absolute;
    left: -38px;
    top: 23px;

    display: block;

    height: 2px;
    width: 25px;

    background-image: url("../img/index_products/list-style-img.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0;
}
/*---------------Статистика--------------------*/

.order-type-item{
    padding-top: 13px;
}

.statistic{
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistic > caption > h4{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.procent{
    font-size:45px;
    font-weight: 700;
}

sup{
    font-size:25px;
}

.lvl{
    font-size:16px;
    line-height: 18px;
}

/*-------------Партнеры----------------------*/

.partners-list{
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    list-style: none;
}

.partners-list > hr{ 
    margin: auto;
    height: 52px;
}

.partners-item{
    opacity: 0.2;
}

.partners-item:hover{
    opacity: 1;
}

.partners-item:active{
    opacity: 0.2;
}

/*------Местоположение-------*/
.our-location{
    margin-top: 70px;

    background-color: #fff;
    background-image: url(../img/index_products/map.jpg);
    height: 420px;
}

.address {
    position: absolute; /* Центровка конрейнера*/
    top: 1850px;
    padding: 49.5px 43.5px;

    background-color: #fff;
}

.address > p{
    font-size:16px;
    line-height:18px;
    font-weight:400;
    color:#666;
}

.address > h2{
    margin-top: 5px;

    font-size:18px;
    line-height:30px;
    font-weight:700;
    text-transform: uppercase;
}

.modal-call{
    width: 200px;
}

/*------Футер-----------*/
.social{
    margin: 50px 0px 40px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-list{
    margin-top: 48px;
    margin-right: 0px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 270px;

    list-style:none;
}

.social-item > img{
    margin: 10px;
}

.text-footer{
    margin-left: 100px;

}

.text-footer > h4{
    margin-bottom: 0px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.text-footer > p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

/*----------feedback форма-------*/

.modal-title{
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
}

.modal-form > label{
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.social-icon{
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #e1e1e1;
}
.social-icon:hover{
    background: #e74246;
}
.social-icon:focus{
    background: #d7373b;
    box-shadow: inset 0px 3px #c13135;
    
}

.icon-cart-icon::before {
    content: url("../img/svg/cart-icon.svg");
    color: #fff;
}
.social-icon-fb::before {
    content: url("../img/svg/fb-icon.svg");
    color: #fff;
}
.social-icon-inst::before {
    content: url("../img/svg/insta-icon.svg");
    color: #fff;
}
.social-icon-vk::before {
    content: url("../img/svg/vk-icon.svg");
    color: #fff;
}

.social-icon-vk::before, .icon-cart-icon::before,
.social-icon-fb::before, .social-icon-inst::before{
    position: absolute;
    left: 25px;
    top: 33px;
}
.social-icon-fb::before{
    left: 33px;
    top: 30px;
}
.social-icon-inst:before{
    left: 28px;
    top: 30px;
}

.social-icon-fb:focus:before,
.social-icon-inst:focus:before,
.social-icon-vk:focus:before{
    opacity: 0.3;
}

/*--------Модальное окно-----------*/

.modal-window{
    position: fixed; 
    left: 240px;
    top: 2600px;
    width: 960px;
    height: 590px;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: 0 20px 30px rgba(0,0,0,0.5);
}

.modal-wrapper{
    position: relative;

    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 100px;
    padding-top: 20px;

    box-sizing: border-box;
}

.modal-form{
    width: 773px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-form input{
    width: 350px;
    height: 45px;

    margin-top: 10px;
    padding-left: 14px;

    border-radius: 3px;
    border-color: #ccc;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.5;
}

.modal-form label:nth-child(2){
    margin-left: 73px;
    margin-bottom: 30px;
}

.modal-form label:nth-child(3){
    flex-grow: 1;
}

.modal-form label:nth-child(3) textarea{
    width:100%;
    height: 120px;

    margin-top: 10px;
    margin-bottom: 47px;
    padding-left: 13px;
    padding-top: 11px;

    box-sizing: border-box;
    border-radius: 3px;
    
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.5;
}
.modal-button{
    font-family: inherit;
    width: 260px;
    font-weight: 600;
}

.close-cross{
    position: absolute;
    right: 95px;
    top: 80px;

    display: block;

    width: 21px;
    height: 21px;

    background-image: url("../img/svg/close-cross.svg");

    opacity: 0.3;

    cursor: pointer;
}

.close-cross:hover{
    opacity: 1;
}

.close-cross:active{
    opacity: 0.1;
}

